/*--people grid--*/

.people-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
  margin-top: 1rem;
}

.person-card {
  text-align: center;
  padding: 1rem;
}

.person-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.person-card .name {
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.person-card .affiliation {
  font-size: 0.9rem;
  color: #555;
}


/*--people square grid--*/
.member {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.member-image img {   /* 写真（左列） */
  width: 160px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.member-info {   /* 説明（右列） */
  max-width: 800px;
}

.member-info h2 {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.member-info p {
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 0.2rem;
}

@media (max-width: 900px) {　　　/* レスポンシブ：モバイルでは縦並び */
  .member {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .member-info {
    margin-top: 1rem;
  }
  .member-image img {
    width: 60%;
    max-width: 280px;
  }
}

/*--lab footer--*/
.lab-footer {
  padding: 2rem 1rem;
  background: #f5f7fa;         /* 薄めのグレー背景（任意） */
  text-align: center;          /* スマホ時の中央寄せ */
  margin-top: 3rem;
}

.footer-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;     /* 中央揃え */
  gap: 1.5rem;                 /* ロゴ間の余白 */
}

.footer-logos img {
  height: 100px;                /* ロゴの高さを揃える */
  margin-bottom: 20px;
  width: auto;                 /* 比率は自動 */
  object-fit: contain;         /* 長方形ロゴも潰れない */
  /* opacity: 0.9;                 少し控えめに */
  transition: opacity 0.2s ease;
  filter: grayscale(100%);
  opacity: 0.7;
}

.footer-logos img:hover {
  filter: none;
  opacity: 1;
}

